@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
@layer base {

  /* import fonts from public > fonts using @font-face */
  @font-face {
    font-family: "Lora";
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/lora-boldItalic.woff2') format('woff2'), url('/fonts/lora-boldItalic.woff') format('woff');
  }
  @font-face {
    font-family: "Montserrat";
    src: url('/fonts/montserrat-regular.woff2') format('woff2'), url('/fonts/montserrat-regular.woff') format('woff');
  }
  /* setting by default the fonts in html tags */
  html{
    font-size: 62.5%;
  }
  body{
    font-family: "Montserrat", "Helvetica";
    font-size: 1.6rem;
  }
  h2, h1{
    font-family: "Lora";
    font-size: 2.4rem;
  }
  input#fold:not(:checked) ~ #main .catch-of-the-day > * {
    -webkit-transform: none;
            transform: none;
  }
  label[for="fold"] {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    background: #000;
    color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  input#fold {
    display: none;
  }
  input#fold:checked + label {
    background: #fff;
    color: #000;
  }
}