@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
@layer base {

  /* import fonts from public > fonts using @font-face */
  @font-face {
    font-family: "blanch";
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/blanch_caps_inline-webfont.woff') format('woff');
  }
  @font-face {
    font-family: "haymaker";
    src: url('/fonts/haymaker-webfont.woff') format('woff');
  }
  /* setting by default the fonts in html tags */
  html{
    font-size: 62.5%;
  }
  body{
    font-family: "blanch", "Helvetica";
    font-size: 2.2rem;
  }
  h1, h2, h3{
    font-family: "haymaker";
  }
  h1{
    font-size: 2.8rem;
  }
  h2{
    font-size: 2.2rem
  }
  h3{
  font-size: 1.8rem    
  }
  input#fold:not(:checked) ~ #main .catch-of-the-day > * {
    -webkit-transform: none;
            transform: none;
  }
  label[for="fold"] {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    background: #000;
    color: #fff;
    border: 2px solid #000;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  input#fold {
    display: none;
  }
  input#fold:checked + label {
    background: #fff;
    color: #000;
  }
}